sensor-middleware/service.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://wadl.dev.java.net/2009/02/wadl.xsd">
  <doc title="Node.js/Express API as Sensor Middleware"/>

  <resources base="http://10.100.0.101:3000/">

    <resource path="test">
      <method name="GET" id="get-test">
        <response status="200">
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>

    <resource path="data">
      <method name="POST" id="post-data">
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response status="200">
          <representation mediaType="application/json"/>
        </response>
      </method>
      <method name="GET" id="get-data">
        <request>
          <param name="sensor_id" style="query" type="xs:int"/>
          <param name="temperature" style="query" type="xs:float"/>
          <param name="humidity" style="query" type="xs:float"/>
          <param name="co2" style="query" type="xs:float"/>
          <param name="volatile" style="query" type="xs:float"/>
        </request>
        <response status="200">
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>

  </resources>
</application>
