soapclient/src/main/resources/wsdl/metrics.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.codan.es/springsoap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://es.codan.springsoap/gen" targetNamespace="http://es.codan.springsoap/gen">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.codan.es/springsoap/gen" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.codan.es/springsoap/gen">

    <xs:element name="getMeanRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sensor_id" type="xs:string"/>
	            <xs:element minOccurs="1" name="metric" type="xs:string"/>
	            <xs:element name="date" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMeanResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mean" type="tns:mean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="mean">
        <xs:sequence>
            <xs:element name="sensor_id" type="xs:string"/>
            <xs:element name="metric" type="xs:string"/>
            <xs:element name="date" type="xs:date"/>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMeanResponse">
    <wsdl:part element="sch:getMeanResponse" name="getMeanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMeanRequest">
    <wsdl:part element="sch:getMeanRequest" name="getMeanRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MetricsPort">
    <wsdl:operation name="getMean">
      <wsdl:input message="tns:getMeanRequest" name="getMeanRequest">
    </wsdl:input>
      <wsdl:output message="tns:getMeanResponse" name="getMeanResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MetricsPortSoap11" type="tns:MetricsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMean">
      <soap:operation soapAction=""/>
      <wsdl:input name="getMeanRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMeanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MetricsPortService">
    <wsdl:port binding="tns:MetricsPortSoap11" name="MetricsPortSoap11">
      <soap:address location="http://localhost:8080/metrics.wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>